@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="z-index:0">
    <div class="top-row px-4">

    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<MatToastContainer />

