
<MatFileUpload Style="@Style" Class="mt-2 rounded" OnChange="HandleFileUpload"></MatFileUpload>
<div class="mat-subtitle2">@FileName</div>

@code {

    [Parameter]
    public string Style { get; set; } = "max-width:200px; max-height:50px";

    [Parameter]
    public EventCallback<string> FileBase64Changed { get; set; }

    [Parameter]
    public string FileBase64 { get; set; }

    public string FileName;

    async Task HandleFileUpload(IMatFileUploadEntry[] files)
    {
        FileName = files[0].Name;
        FileBase64 = await files[0].ToBase64();

        await FileBase64Changed.InvokeAsync(FileBase64);
    }
}
